.btn-shop {
    border-radius: 25px 25px 25px 25px !important;
    height: 3rem;
    /* width: 6rem; */
}

.rounded-circle {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    bottom: 0;
    right: 0;
    transform: translate(-75%, 0%);
}